/* body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.sidenav {
  height: 100%;
  width: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #555;
  transition: width 0.5s;
  overflow-x: hidden;
  z-index: 10;
  padding: 0.25rem;
}
.sidenav .cross-line {
  background-color: #333;
  height: 1px;
  margin: 1.25rem;
}
.sidenav .nav-link {
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.2s;
  position: relative;
  text-decoration: none;
  border: none;
  font-size: 1.5rem;
  padding: 0.75rem;
  background-color: gray;
  margin: 1rem 0.5rem;
  cursor: pointer;
  outline: none;
  color: #fff;
  border-radius: 4px;
}
.sidenav .nav-link:hover {
  background-color: #f0f0f0;
}
.sidenav .nav-link:active {
  background-color: gray;
  transform: translateY(4px);
}
.sidenav .nav-link .nav-icon {
  margin-right: 10px;
  font-size: 1.75rem;
}
.sidenav .nav-link .nav-title {
  display: none;
  max-height: 2rem;
}
.sidenav .nav-link:hover {
  color: black;
}

.opened {
  width: 250px;
  z-index: 10;
}

.fullyOpened .nav-link .nav-title {
  display: block;
} */

.main {
  margin-left: 5rem;
  transition: 0.5s;
}

header {
  position: fixed;
  top: 0;
  width: 97%;
  display: flex;
  flex-wrap: wrap;
  /* background-color: #333; */
  height: 7rem;
  padding: 1rem 4rem;
  align-items: center;
}
header .title {
  flex: 1 1 200px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
header .title h1 {
  text-align: center;
  flex: 3 1 200px;
  font-size: 2.5rem;
  /* color: white; */
}
header .profile {
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
header .profile i {
  font-size: 3rem;
  pointer-events: none;
  /* color: white; */
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  padding-top: 9rem;
  margin: 10px;
  justify-content: center;
}
main h2 {
  text-align: center;
}
main h2 i {
  padding: 0rem 0.25rem;
}
main .add {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0;
}
main .add button {
  width: 6rem;
  height: 2.5rem;
  /* background-color: gray; */
  color: white;
}
main .add button:hover {
  /* background-color: #f0f0f0; */
  color: black;
}
main .add button:active {
  /* background-color: gray; */
  transform: translateY(4px);
}
main .tag,
main .recent {
  font-size: 1.75rem;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main .tag a,
main .recent a {
  text-decoration: none;
  color: black;
}
main .search {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 6rem;
}
main .search #searchInput {
  flex: 1 1 200px;
  margin-right: 2rem;
}
main ul {
  margin: 3rem 2rem;
  width: 100%;
}
main ul li {
  /* background-color: white; */
  list-style-type: none;
  padding: 1rem;
  margin: 0.5rem 0rem;
  display: flex;
  flex-wrap: wrap;
}
main ul li a {
  flex: 1;
  font-size: 1.5rem;
  margin-right: 1rem;
}
/* main ul li a:hover {
  background-color: white;
} */
main ul li input {
  flex: 1;
  font-size: 1.5rem;
  margin-right: 1rem;
}
main ul li button {
  margin-left: auto;
  border: none;
  font-size: 1.5rem;
  padding: 0rem 1rem;
  /* background-color: white; */
  margin-right: 1rem;
  cursor: pointer;
  outline: none;
  color: #fff;
  /* background-color: white; */
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
/* main ul li button:hover {
  background-color: #3e8e41;
} */
main ul li button:active {
  /* background-color: #3e8e41; */
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
main #class li {
  /* background-color: #999; */
  border-radius: 25px;
}
main #class li:hover {
  /* background-color: white; */
  cursor: pointer;
}
main #class li a {
  text-decoration: none;
  color: black;
}

/* #exampleModal .modal-dialog .modal-content .modal-footer #enter {
  background-color: #333;
} */

/*# sourceMappingURL=voc_style.css.map */
